.musicians{
    border: 2px solid red;
    text-align: center;
    background-color: green;
    margin: 15px;

}
.stalls{
    border:2px solid red;
    text-align: center;
    background-color: green;
    margin: 15px;

}